.single-breadcrumb {
	margin-bottom: 50px;
	font-weight: 700;
	padding-bottom: 5px;

	a {
		color: $textcolor;
		text-decoration: none !important;
	}
}

.breadcrumb_last {
	color: $red;
}

.category-breadcrumb {
	padding-top: 30px;
}

@media (max-width:767px) {
	.single-breadcrumb {
		display: none;
	}
}