.home-guarant
	max-width: 945px

	&__pagination
		display: flex
		margin-top: 20px
		max-width: fit-content
		margin-inline: auto
		gap: 15px
		flex-wrap: wrap

		span
			width: 16px
			height: 16px
			margin: 0 !important
			opacity: 1 !important
			background-color: #BBD1DC

			&.swiper-pagination-bullet-active
				background-color: #325D9C

@media (max-width:1330px)
	.home-guarant
		max-width: 100%
